
@import url('./header.component-xs.scss') only screen and (max-width: 576px);
@import url('./header.component-sm.scss') only screen and (min-width: 576px) and (max-width: 768px);
@import url('./header.component-md.scss') only screen and (min-width: 768px) and (max-width: 992px);
@import url('./header.component-lg.scss') only screen and (min-width: 992px) and (max-width: 1200px);
@import url('./header.component-xl.scss') only screen and (min-width: 1200px);


.header-container {
	background-image: url('/assets/images/hero-background.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 30vw;
	width: 100%;
}

.header-container h1 {
	text-align: center;
}

.header-container h1 span {
	font-family: Pokemon-Solid;
	letter-spacing: 0.1em;
	color: yellow;
	font-weight: bold;
	white-space: nowrap;
	line-height: 19vw;
	font-size: 6vw;
}

.header-container h1 span:after {
	vertical-align: super;
	font-size: 2vw;
	letter-spacing: 0.1em;
}
