
<div class="container">
<label class="form-control" style="text-align: center"> Page {{currentPage}} / {{totalPages}}</label>
<div class="input-group">
  <div class="input-group-prepend">
    <button class="btn btn-primary" (click)="previousPage()"> << Prev 20 </button>
  </div>

  <input #searchBox class="form-control" (keyup)="search(searchBox.value)"/>

  <div class="input-group-append">
    <button class="btn btn-primary" (click)="nextPage()"> Next 20 >> </button>
  </div>
</div>
</div>

<div class="container">
  <div class="row">
  <div *ngFor="let poke of pokemonsDisplayed" class="col-12 col-md-6 col-xl-3">
    <img src="assets/images/{{poke.id}}.png"/>
    #{{poke.id}} {{poke.name}} 
  </div>
  </div>
</div>
