/* You can add global styles to this file, and also import other style files */

@import url('./styles-xs.css') only screen and (max-width: 576px);
@import url('./styles-sm.css') only screen and (min-width: 576px) and (max-width: 768px);
@import url('./styles-md.css') only screen and (min-width: 768px) and (max-width: 992px);
@import url('./styles-lg.css') only screen and (min-width: 992px) and (max-width: 1200px);
@import url('./styles-xl.css') only screen and (min-width: 1200px);


.header-container {
	background-image: url('assets/images/hero-background.jpg');
	background-repeat: no-repeat;
	background-size: 100% 360px;
	height: 360px;
}

.header-container h1 {
	text-align: center;
}

@font-face {
	font-family: Pokemon-Hollow;
	src: url('assets/fonts/Pokemon-Hollow.ttf');
}

@font-face {
	font-family: Pokemon-Solid;
	src: url('assets/fonts/Pokemon-Solid.ttf');
}

.header-container h1 span {
	font-family: Pokemon-Solid;
	letter-spacing: 0.1em;
	color: yellow;
	font-weight: bold;
	white-space: nowrap;
}

.header-container-xs h1 span:after {
	vertical-align: super;
	font-size: 0.2em;
	letter-spacing: 0.1em;
}
